/* Ajustes globales para eliminar los espacios
   y que los elementos tengan dimensiones exactas
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* VARIABLES GLOBALES*/

:root
{
    --color-principal: #74cf46;
    --color-secundario: #2F9C95;
    --color-terciario: #EB6534;
    --color-gris-claro: #FBFBFB;
    --color-gris-oscuro: #414141;
    --color-para-circulos: #DAFFC8;
}

/*
    ****Parte 1. Header****

    En esta parte se colocan los estilos de la barra de navegación
    Está dividida por dos sub-partes

    Parte 1.1 = Diseño Mobile First, primero se hacen los diseños pensando
    en dispositivos móviles

    Parte 1.2 = Diseño para tablets, pantallas medianas a partir de 768px,
    Esta parte también está destinada a pantallas grandes

    Parte 1.3 = Diseño para escritorio, pantallas grandes
    Esta sub-parte está diseñada solo para elementos muy específicos, puede que no se use

    ************************
*/

/* INICIO Parte 1.1*/

    .contenedor__header{
        display: flex;
        flex-direction: column;
        background-color: white;
    }
    .marca__nav
    {
        display: flex;
        height: auto;
        align-items: center;
        padding: 25px;
        border-bottom: 1px solid lightgray;
        justify-content: space-between;
    }
    .marca__nav svg{
        color: var(--color-principal);
        margin-right: 10px;
    }
    .toggle__nav
    {
        display: flex;
        height: 44px;
        width: 44px;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .toggle__nav svg{
        margin: 0;
    }
    .barra__nav{
        padding: 0;
    }
    .barra__nav ul{
        list-style: none;
    }
    .barra__nav li
    {
        display: flex;
        align-items: center;
        height: 50px;
        width: 100%;
    }
    .barra__nav li a{
        display: flex;
        border-top: 2px solid white;
        background-color: var(--color-gris-claro);
        text-decoration: none;
        align-items: center;
        color: var(--color-gris-oscuro);
        height: 100%;
        width: 100%;
        cursor: pointer;
        transition: color 0.2s ease;
        padding: 0 25px;
    }
    .barra__nav li a:hover{
        color: var(--color-principal);
        font-weight: bold;
    }
    .boton__iniciarSesion{
        background-color: var(--color-principal) !important;
        color: white !important;
        transition: all 0.2s ease !important;
    }
    .boton__iniciarSesion:hover
    {
        font-weight: bold;
    }

/*TERMINA Parte 1.1*/

/* INICIO Parte 1.2*/

    @media (min-width: 768px)
    {
        .contenedor__header
        {
            padding: 25px 15px;
            height: 10vh;
            flex-direction: row;
            border-bottom: 1px solid lightgray;
            justify-content: space-between;
            width: 100%;
            position: sticky;
            top:0;
        }
        .marca__nav
        {
            justify-content: start;
            border-bottom: none;
            padding: 0;
            width: 30%;
        }
        .toggle__nav
        {
            display: none;
        }
        .barra__nav
        {
            display: flex;
            justify-content: end;
            width: 70%;
        }
        .barra__nav ul
        {
            display: flex;
            flex-direction: row;
            
            
        }
        .barra__nav li{
            height: auto;
            align-items: center;
            width: auto;
            
            
        }
        .barra__nav li a{
            background-color: transparent;
            padding: 0 12px;
            justify-content: center;
            height: 44px;
            text-align: center;
            width: auto;
            border: none;
        }
        .barra__nav li a:hover{
            font-weight: 400;
        }
        .boton__iniciarSesion{
            text-align: center;
            width: auto;
            border-radius: 8px;
        }
        .boton__iniciarSesion:hover
        {
            background-color: #7CD351 !important;
        }
    }

/*TERMINA Parte 1.2*/

/* INICIO Parte 1.3*/

    @media (min-width: 1200px)
    {
        .contenedor__header{
            padding: 0 10%;
        }
    }

/*TERMINA Parte 1.3*/

/*
    ****Parte 2. Hero****

    En esta parte se crea el diseño del hero o banner principal de la página web
    esta contará con un degradado como fondo, y estaŕa dividido en dos partes, una
    para texto y otra para una imagen

    Parte 2.1 = Diseño mobile first, así como la parte anterior se partirá diseñando
    la web pensando en como se verá en teléfono antes de pensar en pantallas grandes

    Parte 2.2 = Diseño para tablets y pantallas grandes

    Parte 2.3 Diseño para pantallas grandes, específicamente para elementos que solo 
    se quieren mostrar en pantallas grandes
    
    ************************
*/

/* INICIO Parte 2.1*/

    .contenedor__hero
    {
        background: #fff7f7;
        background: linear-gradient(111deg, rgba(255, 247, 247, 1) 0%, rgba(214, 251, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);        padding: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 40px 20px;
    }


    .titulo__hero
    {
        font-size: 3rem;
    }
    .parrafo__hero
    {
        margin-top: 20px;
        line-height: 1.5;
        font-size: 1.2rem;
        color: var(--color-secundario);
        text-align: justify;
    }
    .botones__hero{
        margin-top: 20px;
        display: flex;
        gap: 20px;
    }
    .boton__hero
    {
        padding: 21px 15px;
        text-decoration: none;
        border-radius: 10px;
        color: white;
        background-color: var(--color-principal);
        transition: all 0.1s ease;
        font-size: 1.1rem;
    }
    .boton__hero:hover
    {
        background-color: #7CD351;
    }
    .boton__hero--claro{
        background-color: var(--color-gris-claro);
        color: var(--color-gris-oscuro);
        border: 0.1px solid #E0DDDF;
    }
    .boton__hero--claro:hover
    {
        background-color: #D6FBFF;
    }

    .imagen__hero img{
        width: 100%;
        border-radius: 15px;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

/*TERMINA Parte 2.1*/

/* INICIO Parte 2.2*/

    @media (min-width: 768px)
    {
        .contenedor__hero{
            flex-direction: row;
            height: 90vh;
            align-items: center;
            padding: 0 15px;
            gap: 30px;
        }
        .texto__hero
        {
            padding-right: 30px;
            width: 50%;
        }
        .imagen__hero
        {
            width: 50%;
        }
        .image_hero img
        {
            width:100%;
        }
    }

/*TERMINA Parte 2.2*/

/* INICIO Parte 2.3*/

    @media (min-width: 1200px)
    {
        .contenedor__hero{
            padding: 0 10%;
        }
        .parrafo__hero{
            font-size: 1.4rem;
        }
    }

/*TERMINA Parte 2.3*/

/*
    ****Parte 3. Sobre nosotros****

    En esta parte se crea la sección Sobre Nosotros, es similar a la anterior parte del hero,
    con la diferencia de que el fondo es blanco, la parte del texto tiene tres elementos que son
    los valores de la clínica

    Parte 3.1 = Diseño mobile first, así como la parte anterior se partirá diseñando
    la web pensando en como se verá en teléfono antes de pensar en pantallas grandes

    Parte 3.2 = Diseño para tablets y pantallas grandes

    Parte 3.3 Diseño para pantallas grandes, específicamente para elementos que solo 
    se quieren mostrar en pantallas grandes
    
    ************************
*/

/* INICIO Parte 3.1*/

    .contenedor__nosotros
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 40px 20px;
        
    }
    .titulo__hero--nosotros
    {
        font-size: 2.2rem;
        color: var(--color-gris-oscuro);
    }
    .parrafo__hero--nosotros
    {
        font-size: 1.1rem;
    }
    .valores__nosotros
    {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin:25px 0;
        padding: 0 10%;
    }
    .valor__conjunto
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        align-items: center;
    }
    .valor__esfera
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        padding: 15px;
        background-color: var(--color-para-circulos);
        border-radius: 50%;
    }
    .valor__esfera svg{
        color: var(--color-principal);
    }
    .valor__texto
    {
        margin-top: 10px;
        font-weight: bold;
        font-size: 0.8rem;
        color: var(--color-gris-oscuro);
    }

/*TERMINA Parte 3.1*/

/* INICIO Parte 3.2*/

    @media (min-width: 768px)
    {
        .contenedor__nosotros{
            flex-direction: row;
            height: 75vh;
            align-items: center;
            padding: 0 15px;
            gap: 30px;
        }
    }

/*TERMINA Parte 3.2*/

/* INICIO Parte 3.3*/
    @media (min-width: 1200px)
    {
        .contenedor__nosotros{
            padding: 0 10%;
        }
        .parrafo__hero--nosotros{
            font-size: 1.1rem;
        }
    }

/*TERMINA Parte 3.3*/


/*
    ****Parte 4. Servicios****

    En esta parte se crea la sección Servicios, siendo una serie de tarjetas compuesta por una imagen y el cuerpo de la tarjeta.
    Estas mismas siendo responsive utilizando CSS Grid y FlexBox

    Parte 4.1 = Diseño mobile first, así como la parte anterior se partirá diseñando
    la web pensando en como se verá en teléfono antes de pensar en pantallas grandes

    Parte 4.2 = Diseño para tablets y pantallas grandes

    Parte 4.3 Diseño para pantallas grandes, específicamente para elementos que solo 
    se quieren mostrar en pantallas grandes
    ************************
*/

/*INICIA Parte 4.1*/

    .super_contenedor__servicios
    {
        background-color: var(--color-gris-claro);
        padding: 80px 0;
    }
    .titulo__super_contenedor__servicios
    {
        text-align: center;
    }
    .titulo__super_contenedor__servicios h2
    {
        font-size: 2.2rem;
    }
    .titulo__super_contenedor__servicios p
    {
        margin-top: 20px;
        color: var(--color-secundario);
    }

    .contenedor__servicios
    {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        gap: 35px;
        width: 90%;
        margin: 35px auto 0 auto;
        padding: 40px 20px;
    }
    .tarjeta__servicio
    {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 12px;
        box-shadow: 
        rgba(255, 255, 255, 0) 0px 0px 0px 0px inset, 
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, 
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;        
        overflow: hidden;
        height: 100%;
        transition: box-shadow 0.2s ease-in-out;
    }
    .tarjeta__servicio:hover
    {
        box-shadow: 
        rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, 
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;    }
    .tarjeta__servicio--imagen
    {
        width: 100%;
        height: 340px;
        object-fit: cover;
        transition: all 0.2s ease;
    }
    .tarjeta__servicio--imagen:hover
    {
        transform: scale(103%);
    }
    .tarjeta__servicio--cuerpo
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-grow: 1;
        padding: 30px 20px;
    }
    .tarjeta__servicio--titulo
    {
        color: #0A1128;
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 15px;
    }
    .tarjeta__servicio--parrafo
    {
        color: #5b7a8a;
        font-size: 0.95rem;
        line-height: 1.5;
        margin: 0;
    }
/*TERMINA Parte 4.1*/

/*INICIA Parte 4.2*/

    @media (min-width: 662px) and (max-width: 988px) {
        .tarjeta__servicio:last-child {
            grid-column: 1 / -1; 
            justify-self: center; 
            width: 100%;
            max-width: 350px; 
        }
    }

/*TERMINA Parte 4.2*/


/*INICIA Parte 4.3*/

    @media (min-width: 1200px) {
        .contenedor__servicios{
            padding: 0 10%;
        }
    }

/*TERMINA Parte 4.3*/

/*
    ****Parte 5. Agendar Cita****

    En esta parte se colocan los estilos de la sección de agendar cita,
    donde los usuarios pueden hacerle click a un botón para agendar cita

    Parte 5.1 = Diseño Mobile First, primero se hacen los diseños pensando
    en dispositivos móviles

    Parte 5.2 = Diseño para tablets, pantallas medianas a partir de 768px,
    Esta parte también está destinada a pantallas grandes

    Parte 5.3 = Diseño para escritorio, pantallas grandes
    Esta sub-parte está diseñada solo para elementos muy específicos, puede que no se use

    ************************
*/

/*INICIA Parte 5.1*/

    .contenedor__cita
    {
        background: #ffffff;
        background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(245, 255, 245, 1) 61%);        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        padding: 80px 25px;
        border-top: 1px solid lightgreen;
    }
    .tarjeta__cita
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .titulo__hero--cita
    {
        text-align: center;
        color: var(--color-gris-oscuro);
    }
    .parrafo--cita
    {
        color: var(--color-secundario);
        text-align: center;
        margin-top: 35px;
        margin-bottom: 25px;
    }
    .esfera--cita
    {
        width: 80px;
        height: 80px;
    }
    .valor__esfera--citas
    {
        width: 60px !important;
        height: 60px !important;
    }
    .valor__conjunto--cita
    {
        flex-direction: row;
        gap: 15px;
    }
    .valores__nosotros--cita
    {
        gap:20px;
    }
    .texto__icono h3
    {
        font-size: 0.9rem !important;
        color:var(--color-gris-oscuro)
    }
    .texto__icono p
    {
        font-size: 0.8rem;
        color: gray;
        font-weight: light;
    }
    .boton__hero--cita
    {
        padding: 25px 35px;
        border-radius: 40px;
        font-size: 1.2rem;
        font-weight: light;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        transition: all 0.2s ease-in-out;
        margin: 15px 0;
    }
    .boton__hero--cita:hover
    {
        transform: scale(103%);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }
    .parrafo__cita__generico
    {
        text-align: center;
        margin-top: 25px;
        color: var(--color-secundario);
    }
/*TERMINA Parte 5.1*/

/*
    ****Parte 6. Footer***

    En esta parte se colocan los estilos que componen el footer de la página
    de la clínica, los cuales son elementos como iconos de redes sociales e
    información de contacto.

    Parte 6.1 = Diseño Mobile First, primero se hacen los diseños pensando
    en dispositivos móviles

    Parte 6.2 = Diseño para tablets, pantallas medianas a partir de 768px,
    Esta parte también está destinada a pantallas grandes

    Parte 6.3 = Diseño para escritorio, pantallas grandes
    Esta sub-parte está diseñada solo para elementos muy específicos, puede que no se use

    ************************
*/

/*INICIA Parte 6.1*/

    .pie__pagina
    {
        border-top: 1px solid lightgreen;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap:15px;
        padding: 60px 0 30px 0;
    }
    .principal__pie__pagina
    {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .contacto__pie__pagina
    {
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: center;
        gap:15px;
    }
    .elementos__contacto
    {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .telefono__pie__pagina
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:10px;
    }
    .telefono__pie__pagina p
    {
        color:gray;
    }
    .correo__pie__pagina
    {
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap:10px;
    }
    .correo__pie__pagina p
    {
        color:gray;
    }
    .redes_sociales__pie__pagina
    {
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: center;
        gap:15px;
    }
    .botones__redes__sociales
    {
        display: flex;
        gap:20px;
    }
    .boton__red__social
    {
        display: flex;
        padding: 15px;
        color: black;
        background-color: #F7F7F6;
        border-radius: 15px;
        transition: all 0.2s ease;
    }
    .boton__red__social:hover
    {
        background-color: var(--color-principal);
        color: white;
    }
    .secundario__pie__pagina
    {
        padding-top: 25px;
        border-top: 1px solid #E3E3E1;
    }
    .secundario__pie__pagina p
    {
        color: gray;
    }
/*TERMINA Parte 6.1*/

/*INICIA Parte 6.2*/

    @media (min-width: 768px)
    {
        .principal__pie__pagina
        {
            width: 60%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .telefono__pie__pagina
        {
            display: flex;
            flex-direction: row;
            justify-content: start !important;
            gap:10px;
        }
        .correo__pie__pagina
        {
            display: flex;
            flex-direction: row;
            justify-content: start;
            gap:10px;
        }
    }

/*TERMINA Parte 6.2*/